#example , th{
    color: #000000;
}

#example thead tr , #example tfoot tr {
    background-color: #ffffff;
}

.smfr_toplayer .dataTables_length label{
    color:#ffffff;
}

.smfr_toplayer .dataTables_filter label{
    color:#ffffff;
}

#example_info {
    color:#ffffff;
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover {
    color: #c00;
    text-decoration: none;
}

.tooltip:hover:after {
    background: #111;
    background: rgba(0,0,0,.8);
    border-radius: .5em;
    bottom: 1.35em;
    color: #fff;
    content: attr(title);
    display: block;
    left: 1em;
    padding: .3em 1em;
    position: absolute;
    text-shadow: 0 1px 0 #000;
    white-space: nowrap;
    z-index: 98;
    margin-left: -75px;
}

.example_next {
    color: #ffffff;
}
.example_previous {
    color: #ffffff;
}

.example_paginate{
    color: #ffffff;
}